<div id='maindiv'>
  <div id="homePageTitleDiv">
    <h1>Welcome to DTG</h1>
    <h2>Eyes, Lips & Hips... First it's in the eyes, then in the lips and finally the hips</h2>
  </div>
  <div id="homePageTextDiv">
    <h2>Some Stuff About Eyes</h2>
    <p>Text telling you what to do with your eyes</p>
  </div>
  <div>
    <div id="homePageImage1">
    </div>
    <div id="homePageTextDiv">
      <h2>Some Stuff About Lips</h2>
      <p>Text telling you how to use your lips</p>
    </div>
    <div id="homePageImage2">
    </div>
    <div id="homePageTextDiv">
      <h2>Some Stuff About Hips</h2>
      <p>text telling you what to do with your hips</p>
    </div>
    <div id="homePageImage3">
    </div>
    <div id="homePageTextDiv">
      <h2>Some Final Words</h2>
      <p>Use this website</p>
    </div>
  </div>