<div id='locationsShow' ng-if="locations.showAll">
  <div id="showButtons">
    <button class='togglerButtons' id="showAll" data-ng-click="locations.showAllButton()">Show All</button>
    <button class='togglerButtons' id="showMatches" data-ng-click="locations.showMatchesButton()">Show Matches</button>
  </div>
  <ul class="media-list">
    <li class="media" id="userli" ng-repeat="user in locations.users">
      <h1 id="username" class="media-heading">{{ user.local.firstname }}</h1>
      <div class="media-left">
        <a ui-sref="user({ id: user._id })">
          <img id="userimage" class="media-object" ng-src="{{ user.local.image }}">
        </a>
      </div>
      <div id="userinterations" ng-init="locations.checkMatch(user)">
        <button id='eyesButton' data-ng-click="locations.eyes(user)">Eyes</button>
        <form ng-if="locations.eyedUp" class="eyes">wink</form>
      </div>
    </li>
  </ul>
</div>
<div id='locationsShow' ng-if=locations.showMatches>
  <div id="showButtons">
    <button class='togglerButtons' id="showAll" data-ng-click="locations.showAllButton()">Show All</button>
    <button class='togglerButtons' id="showMatches" data-ng-click="locations.showMatchesButton()">Show Matches</button>
  </div>
  <ul class="media-list">
    <li class="media" id="userli" ng-repeat="match in locations.matches track by $index">
      <div ng-if="match.sender._id !== users.currentUser._id">
        <h1 id="username" class="media-heading">{{ match.sender.local.firstname }}</h1>
        <div class="media-left">
          <a ui-sref="user({ id: match.sender._id })">
            <img id="userimage" class="media-object" ng-src="{{ match.sender.local.image }}">
          </a>
        </div>
        <div id="userinterations">
          <button id="eyesButton" ui-sref="chatsShow({ id: match._id })">Chat</button>
        </div>
      </div>
      <div ng-if="match.receiver._id !== users.currentUser._id">
      <h1 id="username" class="media-heading">{{ match.receiver.local.firstname }}</h1>
        <div class="media-left">
          <a ui-sref="user({ id: match.receiver._id })">
            <img id="userimage" class="media-object" ng-src="{{ match.receiver.local.image }}">
          </a>
        </div>
        <div id="userinterations">
          <button id="eyesButton" ui-sref="chatsShow({ id: match._id })">Chat</button>
        </div>
      </div>
    </li>
  </ul>
</div>